.container-fluid{
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    height:750px;
    text-align: center;
    padding-top:15%;
    opacity:0.9;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}